
<div class="contenedor">
    <app-lista-tareas></app-lista-tareas>

    <!-- <app-grilla></app-grilla>
    <app-grilla></app-grilla>
    <app-grilla></app-grilla> -->
</div>



<!-- <style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .contenedor {
        margin: 0 auto;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        /* Espacio entre las instancias de app-grilla */
    }

    app-grilla {
        flex: 0 0 calc(33.33% - 20px);
        /* Establece un tercio del ancho del contenedor */
    }
</style> -->